/* .btn {
    color: aquamarine;
    font-size: 100px;
    border: 2px solid black;
} */

.li-col {
    background: aquamarine;
}

.bg-js {
    background: blue;
}

.ul-col{
    display: block;
}

.invisible {
    display: none;
}