
.inkomst{
    padding-top: 14%;
}

.kostnad {
    padding: 10px 0 ;
}

.inputs{
    position: relative;
    top: 50%;
    padding: 30px;

    select{
        @include border;
    }

    button{        
        background-color: $buttonColor;
        padding: 4px;
        @include border;
    }

    #inputs___text{
        padding: 6px;
        @include border;
    }

    #inputs___nummer{
        padding: 6px;
        @include border;
    }

    #totalSumma{
        padding: 15px;
        @include center;
    }
}

@media screen and (max-width: 500px){
    .inputs{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        #inputs___text{
            margin: 10px;
            padding: 10px;
        }

        #inputs___nummer{
            margin: 10px;
            padding: 10px;
        }
    }
}