// 

.adidasCard{
    position: relative;
    height: 180vh;
    width: 100%;
    // background: rgba(43,43, 43, 0.3);
    clip-path: inset(0% 10% 15% 10%);


    // adidas stan smith card
.adidasCardStan{
    position: relative;
    top: 100px;

    .adidasCardStan___card{
        // background: rgb(41, 41, 41);
        display: flex;
        justify-content: center;
        flex-direction: row;
        position: relative;
        left: 10%;
        width: 80%;
        height: 400px;

        .adidasCardStan___info{
            width: 50%;
            padding: 50px;
            display: flex;
            flex-direction: column;

            .adidasCardStan___rubrik{
                color: $colorBlack;
                padding: 10px;
                font-size: 3.3vw;
            }
        
            .adidasCardStan___text{
                font-size: 1.3vw;
                color: $colorBlack;
                padding: 10px;
            }
        }
        .adidasCardStan___img{
            width: 40vw;
            height: 80%;
            padding: 30px;
            object-fit: cover;
            z-index: 2;
            opacity: 1;
        }
        .adidasCardStan___backBlock{
            width: 140px;
            height: 220px;
            background: $colorRed;
            position: absolute;
            top: 50px;
            left: 50%;
        }
    }
}

// adidas pharrell williams card
.adidasCardPW{
    position: relative;
    top: 100px;

    .adidasCardPW___card{
        // background: rgb(41, 41, 41);
        display: flex;
        justify-content: center;
        flex-direction: row;
        position: relative;
        top: 50px;
        left: 10%;
        width: 80%;
        height: 400px;

        .adidasCardPW___info{
            width: 50%;
            padding: 50px;
            display: flex;
            flex-direction: column;

            .adidasCardPW___rubrik{
                color: $colorBlack;
                padding: 10px;
                font-size: 3.3vw;
            }
        
            .adidasCardPW___text{
                font-size: 1.3vw;
                color: $colorBlack;
                padding: 10px;
            }
        }
        .adidasCardPW___img{
            width: 40vw;
            height: 80%;
            padding: 30px;
            object-fit: cover;
            z-index: 2;
            opacity: 1;
        }
        .adidasCardPW___backBlock{
            width: 140px;
            height: 220px;
            background: $colorBlue;
            position: absolute;
            top: 50px;
            right: 50%;
        }
    }
    }
}

@media screen and (max-width: 570px){
    // body{
    //     height: 205vh;

    .adidasCardBlock{
        position: absolute;
        top: 10px;
        left: 0;
        width: 28vw;
        height: 30vh;
        font-weight: bold;
        z-index: -2;

        #blockText{
            // display: none;
            position: absolute;
            height: 100px;
            left: 56%;
            top: 8px;
            font-size: 6vh;
            letter-spacing: 5px;
        }
    }

        .adidasCard{
            .adidasCardStan{
                position: relative;
                left: 0;
                height: 60vh;
                width: 100%;
                // padding-top: 50px;
                // padding-bottom: 100px;

                .adidasCardStan___card{
                    flex-direction: column-reverse;
                    left: 5%;
                                    
                    .adidasCardStan___info{
                        padding: 0;
                        z-index: -2;
                        
                        .adidasCardStan___rubrik{
                            font-size: 6vw;
                            position: absolute;
                            top: 10px;
                            left: 8%;
                            height: 100px;
                            background: $blueColor;
                            z-index: 10;
                        }
                        .adidasCardStan___text{
                            display: none;
                            font-size: 3vw;
                        }
                    }
                .adidasCardStan___img{
                    position: absolute;
                    top: 14%;
                    right: 0;
                    width: 100%;
                    height: 60vh; 
                    padding: 0;
                    -o-object-position: 30% 0%;
                    object-position: 30% 0%;
                }
                .adidasCardStan___backBlock{
                    display: none;
                }
            }
        }

            .adidasCardPW{
                position: relative;
                left: 0;
                width: 100%;
                height: 60vh;

                .adidasCardPW___card{
                    left: 0;

                    .adidasCardPW___img{
                        position: relative;
                        top: 15%;
                        right: 0;
                        width: 113%;
                        height: 60vh; 
                        padding: 0;
                        object-position: 30% 70%;
                    }
                    .adidasCardPW___backBlock{
                        display: none;
                    }

                    .adidasCardPW___info{
                        padding: 0;
                        z-index: -2;
                        .adidasCardPW___rubrik{
                            font-size: 6vw;
                            position: absolute;
                            top: 10px;
                            left: 14%;
                            height: 100px;
                            background: $blueColor;
                            z-index: 10;
                        }
                        .adidasCardPW___text{
                            display: none;
                        }
                    }
                }
            }
        }
    }
