
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    position: relative;
    padding: 20px;
    font-size: 1vw;
    color: black;
    background-color: whitesmoke;
    
    .footer___oppetider{
        display: flex;
        flex-direction: column;
        // font-size: 1vw;
        padding: 2%;
    }
    .footer___adress{
        display: flex;
        flex-direction: column;
        // font-size: 1vw;
        padding: 2%;
    }
    .footer___nummer{
        display: flex;
        flex-direction: column;
        // font-size: 1vw;
        padding: 2%;
    }
    .footer___social{
        display: flex;
        flex-direction: column;
        padding: 2%;
    }
}

@media screen and (max-width:900px){
    .footer{
        font-size: 1.5vw;
    }
}