.adidasFront{

    .adidasFront___img{
        width: 100%;
        height: 45vh;
        object-fit: cover;
        // clip-path: polygon(0% 0%, 0% 100%, 15% 100%, 14% 54%, 75% 54%, 75% 73%, 14% 73%, 15% 100%, 100% 100%, 100% 0%);
        clip-path: inset(0% 0 15% 10%);
    }

    .adidasFront___imgSmall{
        position: absolute;
        top: 38%;
        right: 0;        
        width: 500px;
        height: 80%;
        object-fit: cover;
        z-index: -1;
    }

    .adidasFront___front{
        position: absolute;
        top: 25%;
        left: 12%;

    .adidasFront___rubrik{
        position: relative;
        top: 100px;
        right: 90px;
        font-size: 16vw;
        color: rgb(43,43,43);
        // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        letter-spacing: -10px;
        }
    }
}

@media screen and (max-width: 550px){
    .adidasFront{

        .adidasFront___img{
            display: none;
        }

        .adidasFront___imgSmall{
            position: relative;
            width: 100%;
            height: 55vh;
            object-position: 0 40%;
            clip-path: inset(0% 0% 0% 20%);
        }

        .adidasFront___front{
        .adidasFront___rubrik{
            position: relative;
            top: 180px;
            left: 0px;
            // color: white;
            letter-spacing: -2px;
            font-size: 22vw;
        }
    }
    }
}