$priColor: #ede734;
$colorFade: linear-gradient(#ede734, grey);
$white: whitesmoke;
$Black: black;
$colorBlack: rgb(43, 43, 43);
$colorRed: rgb(255, 54, 54);
$colorBlue: rgb(109, 159, 252);
$blueColor: #6d9ffc;
