* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #ede734;
}

.adidasFront {
  height: 142vh;
}

.adidasFront .adidasFront___img {
  width: 100%;
  height: 45vh;
  max-height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: inset(0% 0 15% 10%);
          clip-path: inset(0% 0 15% 10%);
}

.adidasFront .adidasFront___imgSmall {
  position: absolute;
  top: 38%;
  right: 0;
  width: 50vw;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.adidasFront .adidasCardBlock {
  position: absolute;
  top: 80%;
  left: 5%;
  width: 35%;
  height: 60%;
  background: #2b2b2b;
  z-index: -2;
}

.adidasFront .adidasCardBlock #blockText {
  font-size: 8vw;
  color: white;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  letter-spacing: -5px;
  left: 25%;
  top: 10px;
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
  font-family: Arial, Helvetica, sans-serif;
}

.adidasFront .adidasFront___front {
  position: absolute;
  top: 25%;
  left: 12%;
}

.adidasFront .adidasFront___front .adidasFront___rubrik {
  position: relative;
  top: 100px;
  right: 12%;
  font-size: 16vw;
  color: #2b2b2b;
  letter-spacing: -10px;
}

@media screen and (max-width: 750px) {
  .adidasFront {
    height: 90vh;
  }
  .adidasFront .adidasFront___img {
    display: none;
  }
  .adidasFront .adidasFront___imgSmall {
    position: absolute;
    top: 0;
    right: 5%;
    width: 70vw;
    height: 70vh;
    -o-object-position: 0% 40%;
       object-position: 0% 40%;
    z-index: 1;
  }
  .adidasFront .adidasFront___front .adidasFront___rubrik {
    display: none;
    font-size: 20vw;
    letter-spacing: -5px;
  }
  .adidasFront .adidasCardBlock {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 45%;
    height: 45%;
    background: #2b2b2b;
    letter-spacing: 10px;
    z-index: -2;
  }
  .adidasFront .adidasCardBlock #blockText {
    font-size: 8vw;
    color: white;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    position: absolute;
    letter-spacing: 0px;
    left: 25%;
    top: 10px;
    -webkit-transform-origin: left top 0;
            transform-origin: left top 0;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media screen and (max-width: 600px) {
  .adidasFront .adidasFront___imgSmall {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65vh;
    -o-object-position: 0 40%;
       object-position: 0 40%;
    -webkit-clip-path: inset(0% 0% 0% 20%);
            clip-path: inset(0% 0% 0% 20%);
  }
  .adidasFront .adidasFront___front {
    width: 100%;
  }
}

.adidasCard {
  position: relative;
  height: 180vh;
  width: 100%;
  -webkit-clip-path: inset(0% 10% 15% 10%);
          clip-path: inset(0% 10% 15% 10%);
}

.adidasCard .adidasCardStan {
  position: relative;
  top: 100px;
}

.adidasCard .adidasCardStan .adidasCardStan___card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  left: 10%;
  width: 80%;
  height: 400px;
}

.adidasCard .adidasCardStan .adidasCardStan___card .adidasCardStan___info {
  width: 50%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adidasCard .adidasCardStan .adidasCardStan___card .adidasCardStan___info .adidasCardStan___rubrik {
  color: #2b2b2b;
  padding: 10px;
  font-size: 3.3vw;
}

.adidasCard .adidasCardStan .adidasCardStan___card .adidasCardStan___info .adidasCardStan___text {
  font-size: 1.3vw;
  color: #2b2b2b;
  padding: 10px;
}

.adidasCard .adidasCardStan .adidasCardStan___card .adidasCardStan___img {
  width: 40vw;
  height: 80%;
  padding: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
  opacity: 1;
}

.adidasCard .adidasCardStan .adidasCardStan___card .adidasCardStan___backBlock {
  width: 140px;
  height: 220px;
  background: #ff3636;
  position: absolute;
  top: 50px;
  left: 50%;
}

.adidasCard .adidasCardPW {
  position: relative;
  top: 100px;
}

.adidasCard .adidasCardPW .adidasCardPW___card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  top: 50px;
  left: 10%;
  width: 80%;
  height: 400px;
}

.adidasCard .adidasCardPW .adidasCardPW___card .adidasCardPW___info {
  width: 50%;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adidasCard .adidasCardPW .adidasCardPW___card .adidasCardPW___info .adidasCardPW___rubrik {
  color: #2b2b2b;
  padding: 10px;
  font-size: 3.3vw;
}

.adidasCard .adidasCardPW .adidasCardPW___card .adidasCardPW___info .adidasCardPW___text {
  font-size: 1.3vw;
  color: #2b2b2b;
  padding: 10px;
}

.adidasCard .adidasCardPW .adidasCardPW___card .adidasCardPW___img {
  width: 40vw;
  height: 80%;
  padding: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
  opacity: 1;
}

.adidasCard .adidasCardPW .adidasCardPW___card .adidasCardPW___backBlock {
  width: 140px;
  height: 220px;
  background: #6d9ffc;
  position: absolute;
  top: 50px;
  right: 50%;
}

@media screen and (max-width: 570px) {
  .adidasCardBlock {
    position: absolute;
    top: 10px;
    left: 0;
    width: 28vw;
    height: 30vh;
    font-weight: bold;
    z-index: -2;
  }
  .adidasCardBlock #blockText {
    position: absolute;
    height: 100px;
    left: 56%;
    top: 8px;
    font-size: 6vh;
    letter-spacing: 5px;
  }
  .adidasCard .adidasCardStan {
    position: relative;
    left: 0;
    height: 60vh;
    width: 100%;
  }
  .adidasCard .adidasCardStan .adidasCardStan___card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    left: 5%;
  }
  .adidasCard .adidasCardStan .adidasCardStan___card .adidasCardStan___info {
    padding: 0;
    z-index: -2;
  }
  .adidasCard .adidasCardStan .adidasCardStan___card .adidasCardStan___info .adidasCardStan___rubrik {
    font-size: 6vw;
    position: absolute;
    top: 10px;
    left: 8%;
    height: 100px;
    background: #6d9ffc;
    z-index: 10;
  }
  .adidasCard .adidasCardStan .adidasCardStan___card .adidasCardStan___info .adidasCardStan___text {
    display: none;
    font-size: 3vw;
  }
  .adidasCard .adidasCardStan .adidasCardStan___card .adidasCardStan___img {
    position: absolute;
    top: 14%;
    right: 0;
    width: 100%;
    height: 60vh;
    padding: 0;
    -o-object-position: 30% 0%;
    object-position: 30% 0%;
  }
  .adidasCard .adidasCardStan .adidasCardStan___card .adidasCardStan___backBlock {
    display: none;
  }
  .adidasCard .adidasCardPW {
    position: relative;
    left: 0;
    width: 100%;
    height: 60vh;
  }
  .adidasCard .adidasCardPW .adidasCardPW___card {
    left: 0;
  }
  .adidasCard .adidasCardPW .adidasCardPW___card .adidasCardPW___img {
    position: relative;
    top: 15%;
    right: 0;
    width: 113%;
    height: 60vh;
    padding: 0;
    -o-object-position: 30% 70%;
       object-position: 30% 70%;
  }
  .adidasCard .adidasCardPW .adidasCardPW___card .adidasCardPW___backBlock {
    display: none;
  }
  .adidasCard .adidasCardPW .adidasCardPW___card .adidasCardPW___info {
    padding: 0;
    z-index: -2;
  }
  .adidasCard .adidasCardPW .adidasCardPW___card .adidasCardPW___info .adidasCardPW___rubrik {
    font-size: 6vw;
    position: absolute;
    top: 10px;
    left: 14%;
    height: 100px;
    background: #6d9ffc;
    z-index: 10;
  }
  .adidasCard .adidasCardPW .adidasCardPW___card .adidasCardPW___info .adidasCardPW___text {
    display: none;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 200px;
  position: relative;
  padding: 20px;
  font-size: 1vw;
  color: black;
  background-color: whitesmoke;
}

.footer .footer___oppetider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2%;
}

.footer .footer___adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2%;
}

.footer .footer___nummer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2%;
}

.footer .footer___social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2%;
}

@media screen and (max-width: 900px) {
  .footer {
    font-size: 1.5vw;
  }
}
/*# sourceMappingURL=adidas.css.map */