.skorCards{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    .adidasCard {
        img{
            position: relative;
            top: 40px;
            width: 33vw;
            height: 90vh;
            object-fit: cover;
            opacity: 0.3;
        }
        h2{
            position: relative;
            left: 25%;
            top: -25rem;
            font-size: 5vw;
            color: $adidasColor;
            opacity: 0;
            z-index: 1;
        }
        
        &:hover img{
            opacity: 0.7;
            cursor: pointer;
        }
        &:hover h2{
            opacity: 1;
            cursor: pointer;
        }
    }

    .nikeCard {
        img{
            position: relative;
            top: 40px;
            width: 33vw;
            height: 90vh;
            object-fit: cover;
            opacity: 0.3;
        }
        h2{
            position: relative;
            top: -25rem;
            left: 35%;
            font-size: 5vw;
            color: $color2;
            opacity: 0;
            z-index: 1;
        }
        &:hover img{
            opacity: 0.7;
            cursor: pointer;
        }
        &:hover h2{
            opacity: 1;
            cursor: pointer;
        }
    }

    .newbalanceCard {
        img{
            position: relative;
            top: 40px;
            width: 33vw;
            height: 90vh;
            object-fit: cover;
            opacity: 0.3;
        }
        h2{
            position: relative;
            top: -25rem;
            left: 3%;
            font-size: 5vw;
            color: $newbalanceColor;
            opacity: 0;
            z-index: 1;
        }
        &:hover img{
            opacity: 0.7;
            cursor: pointer;
        }
        &:hover h2{
            opacity: 1;
            cursor: pointer;
        }
    }
}

@media screen and (max-width:900px){
.skorCards{
    display: flex;
    flex-direction: column;
    // align-items: center;
    // text-align: center;

    .adidasCard {
        h2{
            font-size: 9vw;
            position: relative;
            top: 0;
            left: 3%;
            opacity: 1;
        }   
        img{
            width: 100%;
            height: 60vh;
            object-fit: cover;
            object-position: 0 80%;
            clip-path: inset(0 0 5% 5%);

        }
    }
    
    .nikeCard {
        h2{
            font-size: 9vw;
            position: relative;
            top: 0;
            left: 3%;
            opacity: 1;
        }   
        img{
            width: 100%;
            height: 60vh;
            object-fit: cover;
            object-position: 50% 100%;
            clip-path: inset(0 0 5% 5%);

        }
    }
    .newbalanceCard {
        h2{
            font-size: 9vw;
            position: relative;
            top: 0;
            left: 3%;
            opacity: 1;
        }   
        img{
            width: 100%;
            height: 60vh;
            object-fit: cover;
            object-position: 0 80%;
            clip-path: inset(0 0 5% 5%);

        }
    }
}
}