.front{
    h1{
        position: absolute;
        top: 35%;
        left: 35%;
        transform: translate(-50%, -50%);
        font-size: 9vw;
        color: $color2;
        z-index: 1;
    }
    img{
        height: 100vh;
        width: 100%;
        object-fit: cover;
        object-position: 0 65%;
        opacity: 0.8;
        clip-path: inset(5% 7% 4% 7%);

    }
}