$background: #1B1B1E;
$color:#6D676E;
$color2:#FAA916;
$color3:#FBFFFE;
$color4:#96031A;
$adidasColor:#fff; // detta är samma färg som adidas använder på sin loga
$nikeColor:#111; // detta är samma färg som nike använder på sin loga
$newbalanceColor:#E21836; // detta är samma färg som newbalance använder på sin loga
